map3-core/data
map3-edge/log/nginx/access.log
map3-edge/log/nginx/error.log
map3-edge/log
map3-edge/secrets
map3-edge-in-docker/data/fbdata
map3-edge-in-docker/data/grafana_data
map3-edge-in-docker/data/influxdb_data
metadata.db
map3-edge-in-docker/data/src_fbdata
map3-edge-in-docker/data/src_grafana_data
map3-edge-in-docker/data/src_influxdb_data
settings.json
